$spacer: 1rem !default;

$border-width: 1px !default;

$hr-border-color: rgba($black,.1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$jumbotron-padding: 3rem; // 2rem !default;

$card-spacer-y: .4rem; // .75rem !default;
$card-spacer-x: .75rem; // 1.25rem !default;
